<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Moip</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      <header id="header">
        <%= link_to root_path do %>
          <img src="/images/Asset2.png" alt="Logo" height="42px" style="margin-top: 5px; margin-left: 10px;" />
        <% end %>
        <nav class="links">
          <ul>
            <li><%= link_to "Nova Mensagem", new_tweet_path %></li>
            <li><%= link_to "Listar usuários", users_path %></li>
            <li><%= link_to "Criar usuário", new_user_path %></li>
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="search">
              <a class="fa-search" href="#search">Search</a>
              <form id="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
              </form>
            </li>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <div id="main">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
